<p>{{date}},</p>
<p>Segue em anexo romaneio Nº{{numero}}, referente à expedição programada.</p>

<br />
<br />

<table
  border='1'
  cellpadding='8'
  cellspacing='0'
  style='border-collapse: collapse; font-family: Arial, sans-serif; width: 100%;'
>
  <thead style='background-color: #f2f2f2;'>
    <tr>
      <th>Motorista</th>
      <th>Placa</th>
      <th>CPF</th>
      <th>Transporte</th>
      <th>Previsão de Chegada</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{motorista}}</td>
      <td>{{placa}}</td>
      <td>{{cpf}}</td>
      <td>{{transporte}}</td>
      <td>{{previsao_chegada}}</td>
    </tr>
  </tbody>
</table>

<br />
<br />
<br />

<p style='color: gray; font-size: 12px;'>
  Este é um e-mail automático. Por favor, não responda.
</p>